body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  color:red;
}

#googlemaps { 
  height: 10%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: -1; /* Set z-index to 0 as it will be on a layer below the contact form */
}

.container{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: 
    ". a a ."
    ". a a ."
    ". a a ."
    ". a a .";
}
.temp-info { 
  padding:20px 50px;
  background-color: rgba(255, 255, 255,.9);
  grid-area: a;
  align-self: center;
  justify-self: center;
}

h4{
  margin: 0;
  font-size: 40px;
}